<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<body>
		
		<h2>Save new user</h2>
		
		<form action ="/admin/save/match" method ="post">
			
			<h3>Place name </h3>
			
			<select name ="placeId" > 		
				<option th:each="place : ${adminDto.getPlaces()}"
						th:value="${place.getId()}"
						th:text="${place.getName()}"/>
			</select>
			<h3>First player name </h3>
			
			<select name="user1Id"> 		
				<option th:each="user1 : ${adminDto.getUsers()}"
						th:value="${user1.getId()}"
						th:text="${user1.getName()}">
			</select>
			<h3>First player points </h3>
				
				<input type="number" name="user1Points">
							
			<h3>Second player name </h3>
			
			<select name="user2Id">			
				<option th:each="user2 : ${adminDto.getUsers()}"
						th:value="${user2.getId()}"
						th:text="${user2.getName()}">
			</select>
			<h3>Second player points </h3>
				
				<input type="number" name="user2Points">
							
			<h4> Date </h4>
				
				<input type="date" name="date">
				
				<!-- Send admin id -->
				<input type="hidden" name="adminId" value="adminDto.getLoggedInAdminId()">
				
			
					
		</form>
	
	
	</body>
</html>