<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SQUASH - BELÉPÉS</title>
</head>
<body>

	<h1>BELÉPÉS oldal</h1>

	<form action="/login" method="post">
		
		<label type="text">Név</label>
		<input type="text" value="név" name="name"></input><br></br>
		<label type="text">Jelszó</label>
		<input type="password" value="jelszó" name="password"></input><br></br>
			
		<input type="submit" value="Login"></input>
	</form>

	<div th:if="${errorDto != null}">
		<h2 th:if="${errorDto.getCode() == 0}" style="color:Tomato;">Hibás adatokat adtál meg. Próbáld újra</h2>
		<h2 th:if="${errorDto.getCode() == 1}" style="color:Tomato;">Nem belépett vagy nem admin felhasználó</h2>
		<h2 th:if="${errorDto.getCode() == 2}" style="color:Tomato;">Sikeres kilépés</h2>
	</div>

</body>
</html>