<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SQUASH - MATCHES</title>
</head>
<body>

	<h1>MATCHES Page</h1>
	
	<p>Select Player</p>
	
	<form action="/matches/filter/user" method= "get">
	
		<select name= "name">
		
			<option th:each= " userDto : ${matchWrapperDto.getUsers()}" th:value= "${userDto.getName()}" th:text= "${userDto.getName()}"/>
		
		</select>
		
		<input type= "submit"/>
		
	</form>
	
	<p>Select Place</p>
	
	<form action="/matches/filter/place" method= "get">
	
		<select name= "place">
			
			<option th:each= "placeDto : ${matchWrapperDto.getPlaces}" th:value= "${placeDto.getName()}" th:text= "${placeDto.getName()}"/>
				
		</select>
		
		<input type= "submit"/>
		
	</form>
	
	<p>Match list</p>
	
	<form action="/matches" method= "post">
		<table>
			<tr>
				<th>Match Date</th>
				<th>Place</th>
				<th>Player 1</th>
				<th>Player 1 point</th>
				<th>Player 2</th>
				<th>Player 2 point</th>
			<tr/>
			<tr th:each= "matchesDto :${matchWrapperDto.getMatches()}">
				<td th:text= "${matchesDto.getMatchDate()}"></td>
				<td>
					<table>
					<tr th:each= "placeDto : ${matchesDto.getPlaceDto()}">
						<td th:text= "${placeDto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td>
					<table>
					<tr th:each= "user1Dto : ${matchesDto.getUser1Dto()}">
						<td th:text= "${user1Dto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td th:text= "${matchesDto.getUser1Point()}"></td>
				<td>
					<table>
					<tr th:each= "user2Dto : ${matchesDto.getUser2Dto()}">
						<td th:text= "${user2Dto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td th:text= "${matchesDto.getUser2Point()}"></td>
			</tr>
		
		</table>
		
		<input type="hidden" name="userId" th:value="${matchWrappeDto.getLoggedInUserId()}">
	</form>
	
	<div th:if="${errorDto != null}">
		<h2 th:if="${errorDto.getCode() == 0}" style="color:Tomato;">Nem belépett felhasználó, próbáld újra</h2>
	</div>
	
	
	<form action="/logout" method="post">
    	<input type="hidden" name="loggedInUserId" th:value="${userDto.id}" />
    	<input type="submit" value="Kilépés" />
	</form>
	
	<div th:if="${errorDto != null}">
    	<p th:if="${errorDto.code == 1}">Nem belépett felhasználó.</p>
    	<p th:if="${errorDto.code == 2}">Sikeres kilépés.</p>
	</div>
	
	
</body>
</html>