<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SQUASH - MÉRKŐZÉSEK</title>

<style>
	table, th, td
	{
	  border: 1px solid black;
	  border-collapse: collapse;
	  padding: 20px;
	}
</style>

</head>
<body>

	<h1>MÉRKŐZÉSEK oldal</h1>
	
	<p>Válassz játékost</p>
	
	<form action="/matches/filter/user" method= "get">
	
		<select name= "selectedUserId">
		
			<option th:each= " userDto : ${matchWrapperDto.getUsers()}" th:value= "${userDto.getId()}" th:text= "${userDto.getName()}"/>
		
		</select>
		<input type="hidden" name="loggedinuserid" th:value="${matchWrapperDto.getLoggedInUserId()}" />
		
		<input type= "submit"/>
		
	</form>
	
	<p>Válassz helyszínt</p>
	
	<form action="/matches/filter/place" method= "get">
	
		<select name= "selectedplaceid">
			
			<option th:each= "placeDto : ${matchWrapperDto.getPlaces}" th:value= "${placeDto.getId()}" th:text= "${placeDto.getName()}"/>
				
		</select>
		<input type="hidden" name="loggedinuserid" th:value="${matchWrapperDto.getLoggedInUserId()}" />
		
		<input type= "submit"/>
		
	</form>
	
	<p>Mérkőzés lista</p>
	
	<form action="/matches" method= "post">
		<table>
		  <tr>
		    <th>Mérkőzés napja</th>
		    <th>Helyszín neve</th>
		    <th>Helyszín címe</th>
		    <th>Bérleti díj / óra (HUF)</th>
		    <th>Bérleti díj / óra (EUR)</th>
		    <th>Játékos 1</th>
		    <th>Játékos 1 pontjai</th>
		    <th>Játékos 2</th>
		    <th>Játékos 2 pontjai</th>
		  </tr>
		  
		  <tr th:each="matchesDto : ${matchWrapperDto.getMatches()}">
		    <td th:text="${matchesDto.getMatchDate()}"></td>
		    <td th:text="${matchesDto.getPlaceDto().name}"></td>
		    <td th:text="${matchesDto.getPlaceDto().address}"></td>
		    <td th:text="${matchesDto.getPlaceDto().rentFeeHuf}"></td>
		    <td th:text="${matchesDto.getPlaceDto().rentFeeEur}"></td>
		    <td th:text="${matchesDto.getUser1Dto().name}"></td>
		    <td th:text="${matchesDto.getUser1Point()}"></td>
		    <td th:text="${matchesDto.getUser2Dto().name}"></td>
		    <td th:text="${matchesDto.getUser2Point()}"></td>
		  </tr>
		</table>	
		
		<input type="hidden" name="userId" th:value="${matchWrapperDto.getLoggedInUserId()}">
	</form>
	
	<div th:if="${errorDto != null}">
		<h2 th:if="${errorDto.getCode() == 0}" style="color:Tomato;">Nem belépett felhasználó, próbáld újra</h2>
	</div>
	
	<br></br>
	<form action="/logout" method="post">
    	<input type="hidden" name="loggedInUserId" th:value="${matchWrapperDto.getLoggedInUserId()}" />
    	<input type="submit" value="Kilépés" />
	</form>
	
	<div th:if="${errorDto != null}">
    	<p th:if="${errorDto.code == 1}">Nem belépett felhasználó.</p>
    	<p th:if="${errorDto.code == 2}">Sikeres kilépés.</p>
	</div>
	
	
</body>
</html>