<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SQUASH - MÉRKŐZÉSEK</title>

<style>
	table, th, td
	{
	  border: 1px solid black;
	  border-collapse: collapse;
	  padding: 20px;
	}
</style>

</head>
<body>

	<h1>MÉRKŐZÉSEK oldal</h1>
	
	<p>Válassz játékost</p>
	
	<form action="/matches/filter/user" method= "get">
	
		<select name= "selectedUserId">
		
			<option th:each= " userDto : ${matchWrapperDto.getUsers()}" th:value= "${userDto.getId()}" th:text= "${userDto.getName()}"/>
		
		</select>
		<input type="hidden" name="loggedinuserid" th:value="${matchWrapperDto.getLoggedInUserId()}" />
		
		<input type= "submit"/>
		
	</form>
	
	<p>Válassz helyszínt</p>
	
	<form action="/matches/filter/place" method= "get">
	
		<select name= "selectedplaceid">
			
			<option th:each= "placeDto : ${matchWrapperDto.getPlaces}" th:value= "${placeDto.getId()}" th:text= "${placeDto.getName()}"/>
				
		</select>
		<input type="hidden" name="loggedinuserid" th:value="${matchWrapperDto.getLoggedInUserId()}" />
		
		<input type= "submit"/>
		
	</form>
	
	<p>Mérkőzés lista</p>
	
	<form action="/matches" method= "post">
		<table>
			<tr>
				<th>Mérkőzés napja</th>
				<th>Helyszín</th>
				<th>Játékos 1</th>
				<th>Játékos 1 pontjai</th>
				<th>Játékos 2</th>
				<th>Játékos 2 pontjai</th>
			<tr/>
			<tr th:each= "matchesDto :${matchWrapperDto.getMatches()}">
				<td th:text= "${matchesDto.getMatchDate()}"></td>
				<td>
					<table>
					<tr th:each= "placeDto : ${matchesDto.getPlaceDto()}">
						<td th:text= "${placeDto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td>
					<table>
					<tr th:each= "user1Dto : ${matchesDto.getUser1Dto()}">
						<td th:text= "${user1Dto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td th:text= "${matchesDto.getUser1Point()}"></td>
				<td>
					<table>
					<tr th:each= "user2Dto : ${matchesDto.getUser2Dto()}">
						<td th:text= "${user2Dto.getName()}"></td>
					</tr>
					</table>
				</td>
				<td th:text= "${matchesDto.getUser2Point()}"></td>
			</tr>
		
		</table>
		
		<input type="hidden" name="userId" th:value="${matchWrapperDto.getLoggedInUserId()}">
	</form>
	
	<div th:if="${errorDto != null}">
		<h2 th:if="${errorDto.getCode() == 0}" style="color:Tomato;">Nem belépett felhasználó, próbáld újra</h2>
	</div>
	
	<br></br>
	<form action="/logout" method="post">
    	<input type="hidden" name="loggedInUserId" th:value="${matchWrapperDto.getLoggedInUserId()}" />
    	<input type="submit" value="Kilépés" />
	</form>
	
	<div th:if="${errorDto != null}">
    	<p th:if="${errorDto.code == 1}">Nem belépett felhasználó.</p>
    	<p th:if="${errorDto.code == 2}">Sikeres kilépés.</p>
	</div>
	
	
</body>
</html>